<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2><%=lista.titulo%></h2>

    </div>
    <div class="card-body">
        <div class="text-center">
            <p><strong>Descripción: </strong><%=lista.descripcion%></p>
            <p><strong>Categoría: </strong><%=lista.categoria%></p>
            <p><strong>Fecha: </strong><%=lista.fecha%></p>
            <img src="https://picsum.photos/200/150/?random" class="img-fluid">
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a class="btn btn-success" href="/blog/news" id="btn-like" data-id="">
            <i class="fas fa-arrow-circle-left"></i> Regresar a las noticias
        </a>

    </div>
</div>

<div class="card mt-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>Agregar Comentario</h3>
        <button class="btn btn-info" id="btn-toggle-comment">
            <i class="fa fa-comment-o"></i> Expandir
        </button>
    </div>
    <div class="card-body">
        <blockquote id="post-comment">
            <form action="/images/{{image.uniqueId}}/comment" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Nombres">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" placeholder="Correo">
                </div>
                <div class="form-group">
                    <textarea name="comment" rows="2" class="form-control" placeholder="escribir Nota Aquí"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="btn-comment">
                        <i class="fa fa-comment"></i> Agregar Notas
                    </button>
                </div>
            </form>
        </blockquote>

        <ul class="list-group p-4">
            <% lista.comentarios.forEach(function(prod) { %>
            <li class="row">
                <a href="#" class="col text-center">
                    <img src="https://image.flaticon.com/icons/png/512/149/149071.png" width="50px" alt="">
                </a>
                <blockquote class="col">
                    <p class="lead"><%= prod.mensaje%></p>
                    <footer class="blockquote-footer">
                        <%=prod.autor%> - <%=prod.fecha%>
                    </footer>
                </blockquote>
            </li>
            <% }); %>
        </ul>
    </div>
</div>

<script>
    $('#post-comment').hide();
    $('#btn-toggle-comment').click(e => {
        e.preventDefault();
        $('#post-comment').slideToggle();
    })
</script>